@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li><a href="#">@category.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" style="height: 400px" data-setbg="img/hero/banner.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg">
                            <h5><a href="#">Pregnant Milk</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg">
                            <h5><a href="#">Children Milk</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg">
                            <h5><a href="#">Baby Milk</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg">
                            <h5><a href="#">Nut milk</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg">
                            <h5><a href="#">Dairy cows</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".milk">Milk</li>
                            <!-- Add more filters as needed -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                @foreach (var milk in Model.Milks)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix milk">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="@milk.ImageUrl">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="javascript:void(0)" onclick="addToCart(@milk.Id, '@milk.Name', @milk.Price, '@milk.ImageUrl')"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="/Milk/Detail?milkId=@milk.Id">@milk.Name</a></h6>
                                <h5>@String.Format("{0:0,0} đ", milk.Price)</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Latest Product Section Begin -->
    @*<section class="latest-product spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="latest-product__text">
    <h4>Latest Products</h4>
    <div class="latest-product__slider owl-carousel">
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="latest-product__text">
    <h4>Top Rated Products</h4>
    <div class="latest-product__slider owl-carousel">
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="latest-product__text">
    <h4>Review Products</h4>
    <div class="latest-product__slider owl-carousel">
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    <div class="latest-prdouct__slider__item">
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-1.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-2.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    <a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
    <img src="img/latest-product/lp-3.jpg" alt="">
    </div>
    <div class="latest-product__item__text">
    <h6>Crab Pool Security</h6>
    <span>$30.00</span>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
    @*<section class="from-blog spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title from-blog__title">
    <h2>From The Blog</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic">
    <img src="img/blog/blog-1.jpg" alt="">
    </div>
    <div class="blog__item__text">
    <ul>
    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
    <li><i class="fa fa-comment-o"></i> 5</li>
    </ul>
    <h5><a href="#">Cooking tips make cooking simple</a></h5>
    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic">
    <img src="img/blog/blog-2.jpg" alt="">
    </div>
    <div class="blog__item__text">
    <ul>
    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
    <li><i class="fa fa-comment-o"></i> 5</li>
    </ul>
    <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic">
    <img src="img/blog/blog-3.jpg" alt="">
    </div>
    <div class="blog__item__text">
    <ul>
    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
    <li><i class="fa fa-comment-o"></i> 5</li>
    </ul>
    <h5><a href="#">Visit the clean farm in the US</a></h5>
    <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Blog Section End -->

    <script>
        async function addToCart(id) {
            const token = sessionStorage.getItem('token');
            try {
                let response = await fetch(`http://localhost:5215/odata/Cart/AddItem?milkId=${id}&quantity=1`, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                if (response.ok) {
                    alert('Added to cart successfully!');
                    updateCartCount();
                    updateCartTotalPrice();
                } else {
                    alert('Failed to add to cart.');
                }
            } catch (error) {
                console.error('Error adding to cart:', error);
                alert('Error adding to cart.');
            }
        }

        async function updateCartCount() {
            const token = sessionStorage.getItem('token');
            try {
                let response = await fetch('http://localhost:5215/odata/Cart', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                if (response.ok) {
                    let cart = await response.json();
                    let cartItems = cart.$values || [];
                    if (Array.isArray(cartItems)) {
                        let count = cartItems.reduce((sum, item) => sum + item.quantity, 0);
                        document.getElementById('cart-count').innerText = count;
                    } else {
                        console.error('Cart items is not an array:', cartItems);
                    }
                } else {
                    console.error('Failed to fetch cart count.');
                }
            } catch (error) {
                console.error('Error fetching cart count:', error);
            }
        }

        async function updateCartTotalPrice() {
            const token = sessionStorage.getItem('token');
            try {
                let response = await fetch('http://localhost:5215/odata/Cart', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                if (response.ok) {
                    let cart = await response.json();
                    let cartItems = cart.$values || [];
                    let totalPrice = cartItems.reduce((sum, item) => sum + (item.milk.price * item.quantity), 0);
                    let cartTotalElement = document.getElementById('cart-total');
                    if (cartTotalElement) {
                        cartTotalElement.innerText = `${formatCurrency(totalPrice)} đ`;
                    } else {
                        console.error('Element with ID "cart-total" not found.');
                    }
                } else {
                    console.error('Failed to fetch cart total price.');
                }
            } catch (error) {
                console.error('Error fetching cart total price:', error);
            }
        }

        function formatCurrency(amount) {
            return amount.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateCartCount();
            updateCartTotalPrice();
        });
    </script>

</body>

</html>
