@page
@model FE.Pages.Admin.BatchManagement.IndexModel
@{
    var message = TempData["Message"];
}
@if(Model.Batches.Count > 0)
{
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Quản lý lô hàng
        </div>
        @if (message != null)
        {
            <div>
                <span class="alert alert-success">@message</span>
            </div>
        }
        <div class="p-4">
            <a class="btn btn-success"
               href="/admin/batchmanagement/create">
                Nhập hàng
            </a>
        </div>
        <div class="card-body">
            <table class="table" id="batchTable">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Ngày nhập</th>
                        <th>Ngày hết hạn</th>
                        <th>Giá nhập</th>
                        <th>Số lượng</th>
                        <th>Sữa</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã</th>
                        <th>Ngày nhập</th>
                        <th>Ngày hết hạn</th>
                        <th>Giá nhập</th>
                        <th>Số lượng</th>
                        <th>Sữa</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody class="font-weight-light">
                    @foreach(var batch in Model.Batches)
                    {
                        if(batch != null)
                        {
                            <tr>
                                <th>@batch.Id</th>
                                <th>@batch.ImportDate</th>
                                <th>@batch.ExpiredDate</th>
                                <th>@batch.ImportedPrice vnd</th>
                                <th>@batch.Quantity</th>
                                <th>@batch.Milk.Name</th>
                                <th>
                                    <a class="btn btn-primary" href="/admin/batchmanagement/details?id=@batch.Id">Details</a>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#batchTable').DataTable();
            
        });
    </script>
}