@page
@model FE.Pages.Shipper.IndexModel
@{
}

<table id="orderTable" class="table align-middle mb-0 bg-white vh-100">
    <thead class="bg-light">
        <tr>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Ngày cập nhật</th>
            <th>Buổi</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model.ShipperOrders)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@order.BuyerName</p>
                            <p class="text-muted mb-0">@order.BuyerEmail</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">@order.CreateAt</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">@order.UpdateAt</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">@order.ScheduleTimeSlot</p>
                </td>
                <td>
                    @if(order.OrderStatusName == "Paying")
                    {
                        <span class="badge badge-warning rounded-pill d-inline">
                            Đang chờ thanh toán
                        </span>
                    } else if(order.OrderStatusName == "Shipping")
                    {
                        <span class="badge badge-info rounded-pill d-inline">
                            Đang vận chuyển
                        </span>
                    } else if(order.OrderStatusName == "Completed")
                    {
                        <span class="badge badge-success rounded-pill d-inline">
                            Đã hoàn thành
                        </span>
                    } else if(order.OrderStatusName == "Cancelled")
                    {
                        <span class="badge badge-danger rounded-pill d-inline">
                            Đã hủy
                        </span>
                    }

                </td>
                <td>
                    <a class="btn btn-link btn-sm btn-rounded" asp-page="/shipper/orderdetail" asp-route-orderId="@order.Id">
                        Chi tiết
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        let table = new DataTable('#orderTable', {
            responsive: true
        });
    </script>
}