<!DOCTYPE html>
<html lang="en">
@{
    @using Helpers
    @using Models
    var account = SessionHelper.GetObjectFromJson<User>(Context.Session, "user");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FE.styles.css" asp-append-version="true" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    @if (account != null && (account.Role == "Admin" || account.Role == "Manager" || account.Role == "Shipper"))
    {
        <link rel="stylesheet" href="~/css/admin.css" type="text/css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    }
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />

</head>
@if (account != null && (account.Role == "Admin" || account.Role == "Manager" || account.Role == "Shipper"))
{
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/admin/index">MomMoms Admin</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            @* <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/admin/index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div> *@
                            <div class="sb-sidenav-menu-heading">Quản lý</div>
                            @if (account.Role == "Admin")
                            {
                                <a class="nav-link" href="/admin/batchmanagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý lô
                                </a>
                                <a class="nav-link" href="/admin/SupplierManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý nhà cung cấp
                                </a>
                                <a class="nav-link" href="/admin/BrandManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý thương hiệu
                                </a>
                                <a class="nav-link" href="/admin/CategoryManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý loại sữa
                                </a>
                                <a class="nav-link" href="/admin/MilkAgeManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý nhóm tuổi
                                </a>
                                <a class="nav-link" href="/admin/MilkManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý sữa
                                </a>
                                <a class="nav-link" href="/admin/UserManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý người dùng
                                </a>
                                <a class="nav-link" href="/admin/CouponManagement/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý coupon
                                </a>
                            }

                            @if(account.Role == "Shipper")
                            {
                                <a class="nav-link" href="/shipper/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Đơn hàng của bạn
                                </a>
                            }
                            @if (account.Role == "Manager")
                            {
                                <a class="nav-link" href="/Manager/ManageOrder/index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Quản lý đơn hàng
                                </a>
                            }

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Đăng nhập bởi:</div>
                        @account.UserName
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    @RenderBody()
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; MomMomsMilk 2023</div>
                            <div>
                                <a href="#">Điều khoản và bảo mật</a>
                                &middot;
                                <a href="#">Chính sách &amp; Điều kiện</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="~/js/demo/chart-area-demo.js"></script>
        <script src="~/js/demo/chart-bar-demo.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/jquery.slicknav.js"></script>
        <script src="~/js/mixitup.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/lib/datatables/datatables.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
}
else
{
<body>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> mommommilks@gmail.com</li>
                                <li>Lựa chọn của mẹ bầu, sức khỏe cho trẻ thơ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="~/img/language.png" alt="">
                                <div>Tiếng Việt</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Tiếng Việt</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            @if (account == null)
                            {
                                <div class="header__top__right__auth">
                                    <a href="/Login"><i class="fa fa-user"></i>Đăng nhập</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__auth">
                                    <div class="dropdown">
                                        <a type="button" data-bs-toggle="dropdown" aria-expanded="">
                                            <i class="fa fa-user"></i> Xin chào, @account.UserName
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a href="/Customer/UserInformation?userId=@account?.Id">Thông Tin</a></li>
                                            <li><a href="/Customer/OrderHistory?userId=@account?.Id" class="dropdown-item">Đơn Hàng</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)" onclick="logout()">Đăng Xuất</a></li>

                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/"><img style="max-height: 100px; padding-left: 50px" src="~/img/logo.webp" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu" style="padding-top: 50px;">
                            <ul>
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li><a href="/Milk/Index">Cửa hàng</a></li>
                                <li>
                                    <a href="#">Trang</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="./shop_details">Chi tiết cửa hàng</a></li>
                                        <li><a href="./shopping_cart">Giỏ Hàng</a></li>
                                        <li><a href="./checkout">Thanh toán</a></li>
                                        <li><a href="./blog_details">Bài viết liên quan</a></li>
                                    </ul>
                                </li>
                                <li><a href="./contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart" style="padding-top: 50px;">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="/shopping_cart"><i class="fa fa-shopping-bag"></i> <span id="cart-count">0</span></a></li>
                            </ul>
                            <div class="header__cart__price">Tổng tiền: <span id="cart-total">0.00đ</span></div>

                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
    </header>
    <!-- Header Section End -->

    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer spad" style="position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.webp" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: FPTU, Quận 9</li>
                            <li>Số điện thoại: 036363636</li>
                            <li>Email: mommomsmilk@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Đường dẫn</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Cửa hàng chúng tôi</a></li>
                            <li><a href="#">Bảo mật mua hàng</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Bản đồ vị trí</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng tôi là ai</a></li>
                            <li><a href="#">Các dịch vụ</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Phát triển</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Nhận thông báo ngay</h6>
                        <p>Nhận các thông báo qua email về các ưu đãi và sản phẩm mới.</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập địa chỉ email">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const token = sessionStorage.getItem('token');
            if (token && !sessionStorage.getItem('cart')) {
                fetch('http://localhost:5215/odata/Cart', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                }).then(response => response.json())
                    .then(cartData => {
                        const cartItems = cartData.$values || [];
                        const formattedCartItems = cartItems.map(item => ({
                            id: item.milkId,
                            name: item.milk.name,
                            price: item.milk.price,
                            imageUrl: item.milk.imageUrl,
                            quantity: item.quantity
                        }));
                        sessionStorage.setItem('cart', JSON.stringify(formattedCartItems));
                        updateCartCount();
                        updateCartTotalPrice();
                    }).catch(error => {
                        console.error('Failed to fetch cart:', error);
                    });
            } else {
                updateCartCount();
                updateCartTotalPrice();
            }
        });


        async function updateCartCount() {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            let count = cart.reduce((sum, item) => sum + item.quantity, 0);
            document.getElementById('cart-count').innerText = count;
        }

        async function updateCartTotalPrice() {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            let totalPrice = cart.reduce((sum, item) => sum + (item.price * item.quantity), 0);
            document.getElementById('cart-total').innerText = `${formatCurrency(totalPrice)} đ`;
        }

        function formatCurrency(amount) {
            return amount.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function logout() {
            sessionStorage.removeItem('token');
            sessionStorage.removeItem('cart');
            window.location.href = '/logout';
        }
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
}

</html>
