@page
@model FE.Pages.Milk.IndexModel

@{
    ViewData["Title"] = "Milk List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var milk in Model.Milks)
        {
            <tr>
                <td>@milk.Name</td>
                <td>@milk.Description</td>
                <td>@milk.Quantity</td>
                <td>@milk.Price</td>
                <td>@milk.Brand</td>
                <td>@milk.Category</td>
            </tr>
        }
    </tbody>
</table>
